/* A Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER ////////////////////////////////////////////////////////////////////////// */
body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
  color: #424242;
  background-color: #fff;
}

.container {
  width: 100%;
  padding-left: 220px;
  padding-right: 220px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 16px 220px;
  width: 100%;
  max-width: 1920px;
  height: 78px;
}

.logo {
  margin-right: 11px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-link {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 31px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-decoration: none;
}
.header-nav-link span {
  color: #f17228;
}

.header-nav-link span:last-child {
  color: #ffb30e;
}
.header-location {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #424242;

  display: flex;
  align-items: center;

  gap: 12px;
}
.header-location span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #424242;
}

.icon {
  fill: #ffb30e;
}
.header-location-icon {
}
.header-location-current {
}
.header-location-text {
  font-weight: 700;
}
.header-text {
}
.header-group {
  display: flex;
  gap: 30px;
}
.header-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  padding-left: 35px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #424242;
  width: 200px;
  background: #f5f5f5;
}
.search-input:active {
  border: 1px solid #f17228;
}
.search-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #949494;
}
.header-search-icon {
  position: absolute;
  left: 10px;
  right: 100px;
}

.header-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #ffb800;

  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  width: 118px;
  height: 46px;

  box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29),
    0 5px 10px 0 rgba(255, 174, 0, 0.26);
  background: #fff;
}

.login-icon {
  flex-shrink: 0;
}
/* HERO ..............................................................*/
.hero-section {
  /* min-width: 1200px; */
  position: relative;
  height: 620px;
  background-color: #ffb30e;
  background-image: url("../images/2hero/ImageBase.png"),
    url("../images/2hero/Shadow.png");

  background-repeat: no-repeat;
  background-position: right 10% bottom -50%, right 10% bottom -60%;
  background-size: 500px, 650px;
}

.hero-section-container {
  padding-left: 220px;
  padding-right: 220px;
  width: 100vw; /* Растягиваем фон на всю ширину экрана */
  max-width: none; /* Убираем ограничение */
}
.hero-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 27px 82px 0 rgba(255, 174, 0, 0.28),
    0 14px 15px 0 rgba(255, 174, 0, 0.01);
  padding-top: 132px;
}
.hero-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #504f4f;
  margin-top: 15px;
}
.hero-form-container {
  border-radius: 16px;
  width: 856px;
  height: 194px;
  background: #fff;
  padding-top: 32px;
  padding-left: 24px;
  margin-top: 32px;
}
.hero-form-container-btn {
  display: flex;
  gap: 8px;
}
.hero-container-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 38px;
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
  color: #757575;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.hero-container-btn:hover,
.hero-container-btn:focus {
  background: rgba(241, 114, 40, 0.1);
  color: #f17228;
}
.hero-container-btn:hover .login-icon,
.hero-container-btn:focus .login-icon {
  fill: #f17228;
}
.hero-form {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 53px;
}
.hero-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.hero-form-input {
  border-radius: 8px;
  padding: 7px 0px 8px 16px;
  width: 593px;
  height: 49px;
  background: #f5f5f5;
  border: none;
  padding-left: 35px;
}
.hero-form-input::placeholder {
}
.hero-search-icon {
  position: absolute;
  left: 10px;
  right: 100px;
  fill: #ff7474;
}
.hero-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;

  padding-top: 21px;
  padding-bottom: 21px;
  margin-right: 24px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(318deg, #ff7a7a 0%, #f65900 100%);
}
.hero-location-icon {
  flex-shrink: 0;
  fill: #fff;
}

/* top-items ..............................................................*/

.container {
}
.top-items {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}
.top-items-container {
}
.top-items-title {
}
.top-items-list {
  width: 100%;
  /* max-width: 1485px; */
  /* height: 415px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.top-items-item {
  position: relative;
  min-width: 357px;
}
.top-item-img {
  border-radius: 16px;
  width: 356px;
  height: 301px;

  background: #fff;
}
.top-item-discount-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  position: absolute;
  top: 218px;
  border-radius: 0 32px 0 16px;
  padding: 10px 18px 11px 18px;
  width: 140px;
  height: 83px;
  color: #fff;
  background: #ffb30e;
}
.top-item-pers-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.top-item-discount {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1;
  align-items: center;
}
.top-item-pers {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  color: #fff;
}
.top-item-off {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}
.top-item-text-wrapper {
}
.top-item-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
  margin-top: 32px;
}
.top-item-end {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #f17228;
  padding: 8px 16px;
  margin-top: 14px;

  width: 250px;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.2);
}
/* section 3 How does it work //////////////////////////////////////////////////////*/

.how-it-work {
  padding: 80px 298px;

  height: 518px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-left: 220px;
  padding-right: 220px;

  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) 0%,
    rgba(253, 237, 202, 0.22) 100%
  );
}
.how-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #f17228;
  margin-bottom: 71px;
}
.how-list {
  width: 1324px;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
}
.how-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 307px;
}
.how-item-icon {
  margin-bottom: 41px;
}
.top-item-text-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #434343;
  margin-bottom: 10px;
}
.top-item-text-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #9e9e9e;
  padding-left: 2px;
  padding-right: 2px;
}
/*  section 4 Popular items////////////////////////////////////////////////////////////////// */
.popular-section {
  margin: 80px auto;

  padding-left: 220px;
  padding-right: 220px;
}
.popular-items-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.popular-item-group {
}
.popular-items-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}
.popular-items-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  overflow: hidden;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;

  /* width: 1481px; */
  height: 469px;
}
.popular-items-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 283px;
  height: 469px;
}
.popular-item-img {
  border-radius: 16px;
  margin-bottom: 16px;
}

.popular-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
  margin-bottom: 8px;
}
.popular-area-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;

  gap: 8px;
}
.popular-icon-container {
}
.popular-item-area {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #ffb30e;
}
.popular-item-price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 16px;
}
.popular-item-btn {
  border: none;
  border-radius: 8px;
  padding: 21px 48px;
  width: 283px;
  height: 60px;
  box-shadow: 0 20px 40px 0 rgba(250, 99, 35, 0.24),
    0 5px 10px 0 rgba(253, 114, 92, 0.22);
  background: #f17228;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.popular-btn-icon {
}
.popular-slider-btn {
}
.popular-icon {
  width: 100%;
  height: 100%;
}
.popular-slider {
  position: relative;
}
.slider-btn {
  width: 76px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
}
.popular-prev-btn {
  left: -5%;
}

.popular-next-btn {
  right: -5%;
}

/* Featured Restaurants //////////////////////////////////////////////////////////////////////*/
.container {
}
.featured-container {
  margin-bottom: 88px;
}
.featured-slider {
}
.featured-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}
.featured-list {
  max-width: 1476px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.featured-item {
  position: relative;
}
.featured-item-img {
  border-radius: 16px;
  width: 357px;
  height: 301px;
}
.featured-badge-group {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.featured-badge {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  min-height: 42px;
}

.featured-badge-first {
  background: #f17228;
}

.featured-badge-second {
  background: #ffb30e;
}
.icon {
}
.featured-icon {
  fill: #fff;
}
.featured-icon-star {
  fill: #ffb30e;
}
.featured-badge-text {
}
.featured-restaurant-container {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.featured-restaurant-img {
  border-radius: 8px;
}
.featured-restaurant-info {
}
.featured-restaurant-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
}
.featured-restaurant-stars-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.featured-icon-container {
}
.featured-restaurant-stars {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #ffb30e;
}
.featured-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 32px;
  height: 42px;
}

.featured-btn-tomorrow {
  background: rgba(241, 114, 40, 0.2);
  color: #f17228;
}

.featured-btn-now {
  background: rgba(121, 185, 60, 0.2);
  color: #79b93c;
}
.featured-btn-view-all {
  border-radius: 14px;
  padding: 21px 48px;
  width: 178px;
  height: 60px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29),
    0 5px 10px 0 rgba(255, 174, 0, 0.26);
  background: linear-gradient(141deg, #ffba26 0%, #ff9a0e 100%);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
/* Search by Food ///////////////////////////////////////////////////////////////// */
.container {
}
.search-container {
  background: #fefaf1;
  position: relative;
  width: 100vw; /* Растягиваем фон на всю ширину экрана */
  max-width: none; /* Убираем ограничение */
  padding-left: 220px;
  padding-right: 220px;
  padding-top: 82px;
  padding-bottom: 55px;

  margin-left: auto;
  margin-right: auto;
}
.search-group {
  /* padding-left: 220px;
  padding-right: 220px; */
}
.search-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  /* text-align: center; */
  color: #212121;
  padding-bottom: 28px;
}
.search-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  top: 82px;
  right: 222px;
}
.search-btn-view-all {
  background: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #ffb30e;

  padding: 21px 0px;
  height: 76px;
}
.search-slider-btn {
}
.search-prev-btn {
  background: none;
}
.search-next-btn {
  background: none;
}
.icon {
}
.search-icon {
}

.search-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 34px;
  flex-wrap: wrap;
  margin-top: 88px;
}
.search-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-item-img {
  margin-bottom: 26px;
  border-radius: 50%;
}
.search-item-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
}
/*  7 Install the app /////////////////////////////////////////////////////////////// --> */
.container {
}
.instal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #feefd0;
}
ul.instal-list {
  border-radius: 46px;
  /* padding: 55px !important; */
  padding: 55px;
  width: 1230px;
  height: 246px;
  box-shadow: 0 27px 82px 0 rgba(255, 174, 0, 0.28),
    0 14px 15px 0 rgba(255, 174, 0, 0.01);
  background: #fff;
  margin: 130px 347px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 112px;
}
.instal-item {
}
.instal-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.icon {
}
.instal-icon {
}
.instal-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  background: linear-gradient(150deg, #fb3c00 0%, #ffb800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instal-info-group-down {
  padding-top: 118px;
  position: relative;
  background: #feefd0;
  width: 100vw;
  height: 589px;
  background-image: url("../images/7instal/back_image.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  display: flex;

  justify-content: center;
  gap: 123px;
}
.instal-img {
  max-width: 100%;
  height: auto;
}
.instal-info-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  height: 263px;
}
.instal-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.06;
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.instal-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #827e7e;
  margin-bottom: 40px;
  width: 429px;
}
.instal-svg-group {
  display: flex;
  gap: 8px;
}
.instal-icon {
}

/*  8 proceed ///////////////////////////////////////////////////////////////////*/
.container {
}
.proceed-container {
}
.proceed-list-container {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proceed-list {
  width: 1480px;
  /* height: 1806px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 135px;
  margin-bottom: 135px;
}
.proceed-item {
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  width: 1480px;
  height: 512px;
  box-shadow: 0 27px 82px 0 rgba(124, 124, 124, 0.28),
    0 14px 15px 0 rgba(124, 124, 124, 0.06);
}
.proceed-item-container {
  padding: 56px;
  width: 519px;
  height: 512px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 48px; */
}
.proceed-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  color: #353535;
  margin-top: 119px;
  margin-bottom: 19px;
}
.proceed-item-title-accent {
  color: #ffb30e;
}
.proceed-item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(97, 97, 97, 0.69);
  margin-bottom: 111px;
}
.proceed-info-btn {
  border-radius: 8px;
  padding: 21px 48px;
  margin-bottom: 56px;
  width: 407px;
  height: 60px;
  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.proceed-item-img {
  width: 100%;
}
/*  9 order //////////////////////////////////////////////////////////////*/
.container {
}
.order-container {
  background-image: url("../images/9order/back-image.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 0px; */
  /* width: 1922px; */
  padding: 91px 596px 75px 596px;
  /* height: 1336px; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% auto; */
  /* background-size: contain; */
  background-position: center top;
  /* overflow: hidden; */
}
.order-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.order-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 57px;
  line-height: 0.975;
  text-align: center;
  color: #fff;
  width: 728px;
  margin-bottom: 62px;
}
.order-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  padding: 21px 48px;
  width: 302px;
  height: 60px;

  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(139deg, #f17228 0%, #f15e28 100%);
}
/* footer ///////////////////// */
.footer {
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 99px 221px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 40px;
}
.footer-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 234px;
}
.footer-group {
}
.footer-sublist {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* width: 1480px;
  height: 154px; */

  flex-wrap: wrap;
  gap: 16px;
}
.footer-conteiner-down {
  display: flex;
  align-items: start;
  /* justify-content: center; */
  margin-top: 162px;
  gap: 390px;
}
.footer-subconteiner-down {
  display: flex;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 116px;
  /* margin-top: 162px; */
}
.footer-list-down {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* width: 1480px;
  height: 154px; */

  flex-wrap: wrap;
  gap: 16px;
}
.footer-sublist li,
.footer-list-down li {
  /* font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #f5f5f5; */
}
.footer-item-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #f5f5f5;
  text-decoration: none;
}
.footer-subcontainer {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 116px; */
}
.footer-follow-container {
  /* display: flex;
  align-items: center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* gap: 116px; */
}
.footer-follow-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f5f5f5;
  opacity: 0.6;
  margin-bottom: 40px;
}
.footer-svg-container {
  display: flex;
  gap: 16px;
  margin-bottom: 43px;
}
.icon {
}
.footer-icon {
  fill: #f5f5f5;
  opacity: 0.6;
}
.footer-follow-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #bbb;
  margin-bottom: 40px;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.footer-search-icon {
  position: absolute;
  left: 16px;
  top: 12.5px;
  fill: #adadad;
}
.footer-form-input {
  border: none;

  border-radius: 8px;
  padding: 17px 50px;
  width: 334px;
  height: 60px;
  background: #424242;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #adadad;
}
.footer-form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #adadad;
}
.footer-form-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;

  border-radius: 8px;
  padding: 21px 24px;
  width: 133px;
  height: 60px;
  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
}
.hero-location-icon {
}
/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1024px) {
  /* header ///////////////////////////////////// */
  .header {
    padding: 10px 40px;
    height: auto;
  }
  .header-location {
    display: none;
  }
  /* 2 hero-section /////////////////////////////////////////////////////////// */
  .hero-section {
    min-width: 100%;
    height: 500px;
    background-size: 330px, 480px;

    background-position: right 10% bottom -15%, right 2% bottom -50%;
  }

  .hero-section-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-title {
    font-size: 64px;
    padding-top: 80px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-form-container {
    width: 100%;
    max-width: 420px;
    height: 160px;
    padding-left: 16px;
  }

  .hero-form {
    margin-top: 32px;
  }

  .hero-form-input {
    width: 100%;
    max-width: 270px;
    height: 40px;
  }

  .hero-form-btn {
    width: 100%;
    max-width: 150px;
    height: 40px;
  }

  .hero-container-btn {
    width: 120px;
    height: 36px;
    font-size: 16px;
  }
  /* top section //////////////////////////// */
  .container {
    width: 100%;
    padding: 60px 16px;
  }

  .top-items-list {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .top-item-img {
    width: 100%;
    height: auto;
  }

  .top-item-discount-group {
    position: absolute;
    top: 231px;
    width: 120px;
    height: 70px;
    font-size: 18px;
    padding: 8px 16px;
  }

  .top-item-discount {
    font-size: 50px;
  }

  .top-item-pers {
    font-size: 28px;
  }

  .top-item-off {
    font-size: 18px;
  }

  .top-item-name {
    font-size: 18px;
    margin-top: 16px;
  }

  .top-item-end {
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 10px;
    width: 200px;
  }

  /* how-it-work section ////////////////////////////////////////////////// */
  .how-it-work {
    padding: 40px 40px;
    height: auto;
  }

  .how-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .how-list {
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .how-item {
    width: 100%;
    max-width: 300px;
  }

  .how-item-icon {
    margin-bottom: 20px;
  }

  .top-item-text-title {
    font-size: 20px;
  }

  .top-item-text-subtitle {
    font-size: 16px;
  }
  /* popular-section /////////////////////////////////// */
  .popular-section {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
  }

  .popular-items-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .popular-items-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .popular-items-item {
    max-width: 282px;

    flex-direction: row;
    flex: 0 0 50%;
  }
  .popular-items-list li {
  }
  .popular-item-img {
    width: 100%;
    max-width: 280px;
  }

  .popular-item-title {
    font-size: 20px;
  }

  .popular-item-area {
    font-size: 18px;
  }

  .popular-item-price {
    font-size: 20px;
  }

  .popular-item-btn {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }

  .popular-slider-btn {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Стили для мобильных устройств */
/* @media (max-width: 767px) {
  .container {
  }
} */
