/* A Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER ////////////////////////////////////////////////////////////////////////// */
body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
  color: #424242;
  background-color: #fff;
}

.container {
  width: 100%;
  padding-left: 220px;
  padding-right: 220px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 16px 220px;
  width: 100%;
  max-width: 1920px;
  height: auto;
  /* height: 78px; */
}

.logo {
  margin-right: 11px;
  max-width: none !important;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-link {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 31px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-decoration: none;
}
.header-nav-link span {
  color: #f17228;
}

.header-nav-link span:last-child {
  color: #ffb30e;
}
.header-location {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #424242;

  display: flex;
  align-items: center;
  gap: 12px;
}
.mobile-header-location {
  display: none;
}
.header-location span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #424242;
}

.icon {
  fill: #ffb30e;
}
.header-location-icon {
  flex-shrink: 0;
}
.header-location-current {
}
.header-location-text {
  font-weight: 700;
}
.header-text {
}
.header-group {
  display: flex;
}
.header-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  padding-left: 35px;
  height: 40px;
  border: none;
  border-radius: 5px;
  width: 170px;
  background: #f5f5f5;

  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #424242;
}
.search-input:active {
  border: 1px solid #f17228;
}
.search-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #949494;
}
.header-search-icon {
  position: absolute;
  left: 10px;
  right: 100px;
  /* max-width: none !important; */
}

.header-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #ffb800;

  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  width: 118px;
  height: 46px;

  box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29),
    0 5px 10px 0 rgba(255, 174, 0, 0.26);
  background: #fff;
}

.login-icon {
  flex-shrink: 0;
}
.mobile-menu {
  display: none;
}
/* HERO ..............................................................*/
.hero-section {
  position: relative;
  height: 620px;
  background-color: #ffb30e;
  background-image: url("../img/2hero/ImageBase.png"),
    url("../img/2hero/Shadow.png");
  background-repeat: no-repeat;
  background-position: right 10% bottom -50%, right 11% bottom -50%;
  background-size: 500px, 600px;
  transition: background-position 0.5s ease;
}
.hero-section:hover:not(:has(:hover > .hero-form)) {
  /* .hero-section:hover { */
  background-position: right 10% bottom -20%, right 7% bottom -20%;
}

.hero-section-container {
  padding-left: 220px;
  padding-right: 220px;
  width: 100vw;
  max-width: none;
}
.hero-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 27px 82px 0 rgba(255, 174, 0, 0.28),
    0 14px 15px 0 rgba(255, 174, 0, 0.01);
  padding-top: 132px;
  width: 770px;
}
.hero-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #504f4f;
  margin-top: 15px;
}
.hero-form-container {
  border-radius: 16px;
  max-width: 656px;
  height: 194px;
  background: #fff;
  padding-top: 32px;
  padding-left: 24px;
  margin-top: 32px;
}
.hero-form-container-btn {
  display: flex;
  gap: 8px;
}
.burger-btn {
  display: none;
}
.hero-container-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 38px;
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
  color: #757575;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.hero-container-btn:hover,
.hero-container-btn:focus {
  background: rgba(241, 114, 40, 0.1);
  color: #f17228;
  transition: fill 0.3s ease;
}
.hero-container-btn:hover .login-icon,
.hero-container-btn:focus .login-icon {
  fill: #f17228;
  transition: fill 0.3s ease;
}
.hero-form {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 53px;
}
.hero-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.hero-form-input {
  border-radius: 8px;
  padding: 7px 0px 8px 16px;
  width: 400px;

  height: 49px;
  background: #f5f5f5;
  border: none;
  padding-left: 35px;
}
.hero-form-input::placeholder {
}
.hero-search-icon {
  position: absolute;
  left: 10px;
  right: 100px;
  fill: #ff7474;
}
.hero-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;

  padding-top: 21px;
  padding-bottom: 21px;
  margin-right: 24px;
  margin-left: auto;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(318deg, #ff7a7a 0%, #f65900 100%);
}
.hero-form-btn:hover,
.header-modal-form-btn:hover {
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  transition: fill 0.3s ease;
}
.hero-location-icon {
  flex-shrink: 0;
  fill: #fff;
}

/* top-items ..............................................................*/

.container {
}
.top-items {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}
.top-items-container {
}
.top-items-title {
}
.top-items-list {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.top-items-item {
  position: relative;
  min-width: 357px;
}
.top-item-img {
  border-radius: 16px;
  width: 356px;
  height: 301px;

  background: #fff;
}
.top-item-discount-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  position: absolute;
  top: 218px;
  border-radius: 0 32px 0 16px;
  padding: 10px 18px 11px 18px;
  width: 140px;
  height: 83px;
  color: #fff;

  background: #ffb30e;
}
.top-items-item:hover .top-item-discount-group {
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  transition: fill 0.3s ease;
}
.top-items-item:hover .top-item-end {
  color: #e2631a;
  transition: fill 0.3s ease;
}
.top-item-pers-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.top-item-discount {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1;
  align-items: center;
}
.top-item-pers {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  color: #fff;
}
.top-item-off {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}
.top-item-text-wrapper {
}
.top-item-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
  margin-top: 32px;
}
.top-item-end {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #f17228;
  padding: 8px 16px;
  margin-top: 14px;

  width: 250px;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.2);
}
/* section 3 How does it work //////////////////////////////////////////////////////*/

.how-it-work {
  padding: 80px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) 0%,
    rgba(253, 237, 202, 0.22) 100%
  );
}
.how-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #f17228;
  margin-bottom: 71px;
}
.how-list {
  max-width: 1324px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
}
.how-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 307px;
}
.how-item-icon {
  margin-bottom: 41px;
}
.top-item-text-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #434343;
  margin-bottom: 10px;
}
.top-item-text-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #9e9e9e;
  padding-left: 2px;
  padding-right: 2px;
}
/*  section 4 Popular items////////////////////////////////////////////////////////////////// */
.popular-section {
  margin: 80px auto;

  padding-left: 220px;
  padding-right: 220px;
}
.popular-items-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.popular-item-group {
}
.popular-items-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}
.popular-items-list {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  overflow: hidden;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;

  /* width: 1481px; */
  height: 469px;
}
.popular-items-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 283px;
  height: 469px;
}
.popular-item-img {
  border-radius: 16px;
  margin-bottom: 16px;
}

.popular-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
  margin-bottom: 8px;
}
.popular-area-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;

  gap: 8px;
}
.popular-icon-container {
}
.popular-item-area {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #ffb30e;
}
.popular-item-price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 16px;
}
.popular-item-btn {
  border: none;
  border-radius: 8px;
  padding: 21px 48px;
  width: 283px;
  height: 60px;
  box-shadow: 0 20px 40px 0 rgba(250, 99, 35, 0.24),
    0 5px 10px 0 rgba(253, 114, 92, 0.22);
  background: #f17228;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.popular-item-btn:hover {
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  transition: fill 0.3s ease;
}
.popular-btn-icon {
}
.popular-slider-btn {
}
.popular-icon {
  width: 100%;
  height: 100%;
}
.popular-slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.slider-btn {
  width: 76px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
}
.popular-prev-btn {
  left: -5%;
}

.popular-next-btn {
  right: -5%;
}
.popular-items-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}
.popular-items-list {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.popular-items-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.popular-items-item {
  flex: 0 0 auto;
  width: 282px;
}

/* Featured Restaurants //////////////////////////////////////////////////////////////////////*/
.container {
}
.featured-container {
  margin-bottom: 88px;
  padding-left: 50px;
  padding-right: 50px;
}
.featured-slider {
}
.featured-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}
.featured-list {
  max-width: 1476px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.featured-item {
  position: relative;
  min-width: 360px;
}
/*  */
.featured-item {
  display: none;
}

.featured-item.show-all {
  display: list-item !important;
}
/*  */
.hidden {
  display: none;
}

.featured-item-img {
  border-radius: 16px;
  width: 357px;
  height: 301px;
}
.featured-badge-group {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.featured-badge {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  min-height: 42px;
}

.featured-badge-first {
  background: #f17228;
}
.featured-badge-first:hover {
  background: #ff6105;
  transition: fill 0.3s ease;
}
.featured-badge-second {
  background: #ffb30e;
}
.featured-badge-second:hover {
  background: #fdad00;
  transition: fill 0.3s ease;
}
.icon {
}
.featured-icon {
  fill: #fff;
}
.featured-icon-star {
  fill: #ffb30e;
}
.featured-badge-text {
}
.featured-restaurant-container {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.featured-restaurant-img {
  border-radius: 8px;
}
.featured-restaurant-info {
}
.featured-restaurant-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
}
.featured-restaurant-stars-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.featured-icon-container {
}
.featured-restaurant-stars {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #ffb30e;
}
.featured-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 32px;
  height: 42px;
}

.featured-btn-tomorrow {
  background: rgba(241, 114, 40, 0.2);
  color: #f17228;
}
.featured-btn-tomorrow:hover {
  background: rgba(251, 93, 1, 0.2);
  color: #ff6b15;
  transition: fill 0.3s ease;
}
.featured-btn-now {
  background: rgba(121, 185, 60, 0.2);
  color: #79b93c;
}
.featured-btn-now:hover {
  background: rgba(86, 175, 2, 0.2);
  color: #73bb30;
  transition: fill 0.3s ease;
}
.featured-btn-view-all {
  border-radius: 14px;
  padding: 21px 48px;
  /* width: 178px; */
  height: 60px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29),
    0 5px 10px 0 rgba(255, 174, 0, 0.26);
  background: linear-gradient(141deg, #ffba26 0%, #ff9a0e 100%);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.featured-btn-view-all:hover,
.proceed-info-btn:hover {
  background: linear-gradient(150deg, #e8a703 0%, #ff8a00 100%);
  transition: fill 0.3s ease;
}
/* Search by Food ///////////////////////////////////////////////////////////////// */
.container {
}
.search-container {
  background: #fefaf1;
  position: relative;
  width: 100vw;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 82px;
  padding-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.search-group {
}
.search-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  color: #212121;
  padding-bottom: 28px;
}
.search-btn-group {
  display: flex;

  gap: 10px;
  position: absolute;
  top: 130px;
  right: 222px;
  margin-left: auto;
  z-index: 999;
}

.search-slider-btn {
}
.search-prev-btn {
  background: none;
  width: 76px;
  height: 76px;
}
.search-next-btn {
  background: none;
  width: 76px;
  height: 76px;
}
.slider-btn:hover .popular-icon,
.search-next-btn:hover .search-icon,
.search-prev-btn:hover .search-icon,
.scroll-to-top:hover {
  --color1: #faaa01;
  --color2: #ffb20e;
  transition: fill 0.3s ease;
}
.icon {
}
.search-icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.search-list {
  gap: 34px;
  margin-top: 88px;
}
.search-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 220px;
}
.search-item-img {
  margin-bottom: 26px;
  border-radius: 50%;
}
.search-item-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #424242;
}
/*  7 Install the app /////////////////////////////////////////////////////////////// --> */
.container {
}
.instal-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #feefd0;
  padding: 20px;
}
ul.instal-list {
  border-radius: 46px;
  /* padding: 55px !important; */
  padding: 55px;
  max-width: 1300px;
  height: 246px;
  box-shadow: 0 27px 82px 0 rgba(255, 174, 0, 0.28),
    0 14px 15px 0 rgba(255, 174, 0, 0.01);
  background: #fff;
  margin: 130px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 112px;
}
.instal-item {
}
.instal-info-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.icon {
}
.instal-icon {
}
.instal-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  text-align: start;
  background: linear-gradient(150deg, #fb3c00 0%, #ffb800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instal-info-group-down {
  padding-top: 118px;
  padding-left: 55px;
  padding-right: 55px;
  position: relative;
  background: #feefd0;
  width: 100vw;
  height: auto;
  background-image: url("../img/7instal/back_image.png");
  transition: transform 0.5s linear;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  display: flex;

  justify-content: center;
  gap: 123px;
}

.instal-info-group-down img:hover {
  transform: scale(1.01);
  transition: transform 0.5s linear;
  /* background-size: 105%; */
}

.instal-img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
.instal-info-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  height: 263px;
}
.instal-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.06;
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.instal-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #827e7e;
  margin-bottom: 40px;
  max-width: 429px;
}
.instal-svg-group {
  display: flex;
  gap: 8px;
}
.instal-icon {
}

/*  8 proceed ///////////////////////////////////////////////////////////////////*/
.container {
}
.proceed-container {
}
.proceed-list-container {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proceed-list {
  width: 1480px;
  /* height: 1806px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 135px;
  margin-bottom: 135px;
}
.proceed-item {
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  max-width: 100%;
  height: 512px;
  box-shadow: 0 27px 82px 0 rgba(124, 124, 124, 0.28),
    0 14px 15px 0 rgba(124, 124, 124, 0.06);
}
.proceed-item-container {
  padding: 56px;
  max-width: 100%;
  height: 512px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.proceed-item-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 1.12;
  color: #353535;
}
.proceed-item-title-accent {
  color: #ffb30e;
}
.proceed-item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(97, 97, 97, 0.69);
}
.proceed-info-btn {
  border-radius: 8px;
  padding: 21px 48px;
  max-width: 100%;
  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.proceed-item-img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
}
/*  9 order //////////////////////////////////////////////////////////////*/
.container {
}
.order-container {
  background-image: url("../img/9order/back-image.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 50px 100px 50px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.order-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.order-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 57px;
  line-height: 0.975;
  text-align: center;
  color: #fff;
  width: 728px;
  margin-bottom: 62px;
}
.order-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  padding: 21px 48px;
  width: 302px;
  height: 60px;

  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(139deg, #f17228 0%, #f15e28 100%);
}
a.order-btn,
a.proceed-info-btn {
  text-decoration: none;
}
.order-btn:hover {
  background: linear-gradient(139deg, #ff8741 0%, #ff703c 100%);
  transition: fill 0.3s ease;
}
/* footer ///////////////////// */
.footer {
  background: #212121;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 90px 100px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 40px;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 120px;
}
.footer-group {
}
.footer-sublist {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  gap: 16px;
}
.footer-conteiner-down {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 162px;
  gap: 200px;
}
.footer-subconteiner-down {
  display: flex;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 120px;
}
.footer-list-down {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  gap: 16px;
}
.footer-sublist li,
.footer-list-down li {
}
.footer-item-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #f5f5f5;
  text-decoration: none;
}
.footer-item-link:hover {
  text-decoration: underline;
  transition: fill 0.3s ease;
}
.footer-subcontainer {
}
.footer-follow-container {
}
.footer-follow-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f5f5f5;
  opacity: 0.6;
  margin-bottom: 40px;
}
.footer-svg-container {
  display: flex;
  gap: 16px;
  margin-bottom: 43px;
}
.icon {
}
.footer-icon {
  fill: #f5f5f5;
  opacity: 0.6;
}
.footer-icon:hover {
  fill: #ffb800;
  opacity: 1;
  transition: fill 0.3s ease;
}
.footer-follow-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #bbb;
  margin-bottom: 40px;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.footer-search-icon {
  position: absolute;
  left: 16px;
  top: 12.5px;
  fill: #adadad;
}
.footer-form-input {
  border: none;

  border-radius: 8px;
  padding: 17px 50px;
  width: 334px;
  height: 60px;
  background: #424242;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #adadad;
}
.footer-form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #adadad;
}
.footer-form-btn {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;

  border-radius: 8px;
  padding: 21px 24px;
  width: 133px;
  height: 60px;
  box-shadow: 0 14px 32px 0 rgba(255, 178, 14, 0.29),
    0 5px 8px 0 rgba(222, 151, 0, 0.24);
  background: linear-gradient(150deg, #ffb800 0%, #ff8a00 100%);
}
.footer-form-btn:hover {
  background: linear-gradient(150deg, #f2ae00 0%, #e77b01 100%);
  transition: fill 0.3s ease;
}
/* HERO */
.hero-location-icon {
}

.scroll-to-top {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  background-color: #ffb30e;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
  transform: rotate(90deg);
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

/* slider library swiperjs.com */
.swiper-slide {
  text-align: center;
  flex-shrink: 1 !important;
}
.search-item-img {
}

/* basicLightbox */
.search-item-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.12;
  color: #ffb30e;
}
.search-item-modal-title {
  padding: 10px;
}
.search-item-modal-img {
  border-radius: 50%;
  padding-top: 10px;
  width: 150px;
}
.search-item-modal-description {
  font-size: 30px;
  text-align: justify;

  padding: 15px;
  color: #d0d0d0;
}
.basicLightbox {
  background: rgba(0, 0, 0, 0) !important;
}
.custom-modal .basicLightbox__placeholder {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}

/* Mоя модалка */
/* Внешний фон и центрирование */
.header-modal {
  display: none;
  position: fixed;
  /* inset: 0; то же что top: 0; left: 0; width: 100%; height: 100% */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* Внутренний блок */
.header-modal-content {
  background: #fff;
  border-radius: 16px;
  width: 400px;
  max-width: 90vw;
  max-height: 90vh;

  padding: 32px 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.header-modal-content h2 {
  text-align: center;
}
.header-modal-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
}
.header-modal-form-input {
  border-radius: 8px;
  padding: 7px 0px 8px 16px;
  max-width: auto;
  height: 49px;
  background: #f5f5f5;
  border: none;
  margin: 5px;
}

.header-modal-form-btn {
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;

  padding-top: 21px;
  padding-bottom: 21px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(318deg, #ff7a7a 0%, #f65900 100%);
}
.header-modal-close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.is-open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  z-index: 10000;
}

/* Стили для комп */
@media (min-width: 1025px) {
  .featured-item:nth-child(-n + 3) {
    display: list-item;
  }
  .mobile-menu {
    display: none;
  }
}
/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1024px) {
  /* header ///////////////////////////////////// */
  .mobile-menu {
    display: none;
  }
  .header {
    padding: 10px 40px;
    height: auto;
  }
  .header-location {
    /* display: none; */
  }
  /* 2 hero-section /////////////////////////////////////////////////////////// */
  .hero-section {
    min-width: 100%;
    height: 500px;
    background-size: 300px, 400px;

    background-position: right 10% bottom -15%, right 5% bottom -15%;
  }
  .hero-section:hover:not(:has(:hover > .hero-form)) {
    /* .hero-section:hover { */
    background-position: right 10% bottom -5%, right 7% bottom -5%;
  }

  .hero-section-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-title {
    font-size: 64px;
    padding-top: 80px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-form-container {
    width: 100%;
    max-width: 420px;
    height: 160px;
    padding-left: 16px;
  }

  .hero-form {
    margin-top: 32px;
  }

  .hero-form-input {
    width: 100%;
    max-width: 270px;
    height: 40px;
  }

  .hero-form-btn {
    width: 100%;
    max-width: 150px;
    height: 40px;
  }

  .hero-container-btn {
    width: 120px;
    height: 36px;
    font-size: 16px;
  }
  /* top section //////////////////////////// */
  .container {
    width: 100%;
    /* padding: 60px 16px; */
  }

  .top-items-list {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .top-item-img {
    width: 100%;
    height: auto;
  }

  .top-item-discount-group {
    position: absolute;
    top: 231px;
    width: 120px;
    height: 70px;
    font-size: 18px;
    padding: 8px 16px;
  }

  .top-item-discount {
    font-size: 50px;
  }

  .top-item-pers {
    font-size: 28px;
  }

  .top-item-off {
    font-size: 18px;
  }

  .top-item-name {
    font-size: 18px;
    margin-top: 16px;
  }

  .top-item-end {
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 10px;
    width: 200px;
  }

  /* how-it-work section ////////////////////////////////////////////////// */
  .how-it-work {
    padding: 40px 40px;
    height: auto;
  }

  .how-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .featured-item:nth-child(-n + 2) {
    display: list-item;
  }
  .how-list {
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .how-item {
    width: 100%;
    max-width: 300px;
  }

  .how-item-icon {
    margin-bottom: 20px;
  }

  .top-item-text-title {
    font-size: 20px;
  }

  .top-item-text-subtitle {
    font-size: 16px;
  }
  /* popular-section /////////////////////////////////// */
  .popular-section {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
  }

  .popular-items-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .popular-items-list {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 5px;
    /* justify-content: center; */
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .popular-items-item {
    max-width: 282px;

    flex-direction: row;
    flex: 0 0 50%;
  }
  .popular-items-list li {
  }
  .popular-item-img {
    width: 100%;
    max-width: 280px;
  }

  .popular-item-title {
    font-size: 20px;
  }

  .popular-item-area {
    font-size: 18px;
  }

  .popular-item-price {
    font-size: 20px;
  }

  .popular-item-btn {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }

  .popular-slider-btn {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .search-icon {
    width: 60px;
    height: 60px;
  }
  .slider-btn,
  .search-next-btn,
  .search-prev-btn {
    width: 60px;
    height: 60px;
  }
  /* featured */
  .featured-item:nth-child(-n + 2) {
    display: list-item;
  }

  .featured-container {
    margin-bottom: 88px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-container {
    padding-left: 110px;
    padding-right: 110px;
  }
  .search-btn-group {
    /* top: 140px; */
  }
  /* 7 Install the app */
  .proceed-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .proceed-list-container {
    margin-top: 10px;
  }

  .proceed-list {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .instal-info-group-down {
    padding-top: 50px;
    gap: 50px;
  }
  ul.instal-list {
    height: 170px;
    margin-top: 80px;
  }
  .instal-icon {
    width: 80px;
    height: 80px;
  }

  .instal-item-title {
    font-size: 25px;
  }
  .instal-title {
    font-size: 50px;
    max-width: 200px;
  }
  .instal-text {
    margin-bottom: 20px;
  }
  .instal-img {
    width: 60%;
    height: auto;
  }
  /* <!-- 9 order --> */
  .order-container {
    padding: 30px 16px;
  }
  .order-title {
    font-size: 45px;
    margin-bottom: 45px;
  }

  /* footer */
  .footer {
    padding: 30px 50px;
  }
  .footer-list {
  }
  .footer-conteiner-down {
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-follow-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    gap: 15px;
  }
  .footer-follow-title {
    margin-bottom: 0;
  }
  .footer-svg-container {
    margin-bottom: 0;
  }
  .footer-follow-text {
    margin-bottom: 0;
  }
}

/* Стили для мобильных устройств */
@media (max-width: 767px) {
  body {
    max-width: 767px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-location,
  .header-input-wrapper {
    display: none;
  }

  .hero-form-container-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-header-location {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #424242;

    display: flex;
    gap: 3px;
  }
  .header-modal-content {
    position: fixed;
    /* top: 10%;
    transform: translateX(-50%); */
    z-index: 1000;
    max-width: 95vw;
    padding: 10px;
  }
  .header-modal-content {
    width: 300px;
  }
  .header-modal-form-btn {
    width: 200px;
    height: 40px;
    padding: 5px;
  }
  .hero-form {
    margin-top: 20px;
  }
  .header-modal-form-input {
    height: 40px;
  }
  .mobile-hero-form-container {
    display: flex;
    flex-direction: column;
  }
  .hero-section:hover:not(:has(:hover > .hero-form)) {
    background-position: right 10% bottom -55%, right 7% bottom -55%;
  }
  .hero-section-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-title {
    padding-top: 30px;
    font-size: 40px;
  }
  .hero-form-container {
    max-width: 420px;
    height: auto;
    padding: 20px;
    margin-top: 32px;
  }
  .hero-form-input {
    max-width: 200px;
  }
  .hero-container-btn {
    font-size: 16px;
    width: auto;
  }
  .hero-section {
    height: 620px;
    background-color: #ffb30e;

    min-width: 100%;
    height: 500px;
    background-size: 300px, 400px;

    background-position: right 10% bottom -15%, right 5% bottom -15%;
  }
  .hero-title {
    width: auto;
  }
  .hero-location-icon {
    display: none;
  }
  .how-it-work {
    padding: 20px;
  }
  .how-title {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .how-item-icon {
    margin-bottom: 10px;
    width: auto;
    height: 92px;
  }

  .popular-section,
  .featured-container {
    margin: 30px auto;
  }
  .popular-items-title,
  .featured-title,
  .search-title {
    margin-bottom: 40px;
    font-size: 35px;
  }
  .popular-item-btn {
    padding: 10px;
    width: 183px;
    height: 40px;
    margin: 0 auto;
  }
  .featured-btn-view-all {
    margin: 20px auto;
  }

  .featured-item:nth-child(-n + 1) {
    display: list-item;
  }
  .search-btn-group {
    top: 70px;
  }
  .search-container {
    padding-top: 20px;
  }
  .search-item-modal-container {
    font-size: 20px;
    /* max-width: 70%; */
    height: auto;
  }
  /* .basicLightbox__placeholder {
    height: auto;
    max-width: none;
  } */
  .search-item-modal-description {
    font-size: 25px;
  }
  .search-item-modal-img {
    width: 100px;
  }
  ul.instal-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    height: auto;
    margin: 30px 10px;
  }
  .instal-info-group-down {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
  .instal-icon {
    width: 100px;
    height: 100px;
  }
  .instal-item-title {
    font-size: 30px;
  }
  .instal-img {
    max-width: 60%;
  }
  .instal-title {
    font-size: 35px;
    padding-top: 20px;
  }

  .instal-svg-group {
    justify-content: center;
  }
  .proceed-list-container {
    margin: 20px auto;
  }
  .proceed-list {
    gap: 30px;
    margin: 20px auto;
  }

  .proceed-item {
    height: auto;
  }
  .proceed-item-container {
    padding: 20px;
    gap: 20px;
    height: auto;
  }
  .proceed-item-title {
    font-size: 35px;
  }
  .proceed-info-btn {
    padding: 20px;
  }
  .search-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .order-container {
    padding: 10px;
  }
  .order-title {
    max-width: 750px;
    font-size: 30px;
    width: auto;
    margin-bottom: 10px;
  }
  .popular-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider-btn,
  .search-next-btn,
  .search-prev-btn {
    width: 50px;
    height: 50px;
  }
  .search-list {
    margin-top: 40px;
    gap: 10px;
  }
  .search-item-img {
    width: 150px;
    height: 150px;
    display: inline;
  }

  .footer {
    padding: 20px;
  }
  .footer-sublist,
  .footer-list-down {
    gap: 5px;
  }
  .footer-list,
  .footer-subconteiner-down {
    gap: 20px 40px;
  }
  .footer-conteiner-down {
    margin-top: 25px;
    gap: 20px;
  }
  .footer-subtitle {
    margin-bottom: 10px;
  }
  .footer-follow-title,
  .footer-svg-container,
  .footer-follow-text {
    margin-bottom: 15px;
  }
  .footer-form-input,
  .footer-form-btn {
    height: 30px;
  }
  .footer-search-icon {
    top: 0;
  }
  .footer-form-btn {
    padding: 5px;
  }
}
